<body>
  <div class="jumbotron bg-light">
    <div>
      <div class="col center-block" align="center">
        <h1 class="display-4 text-dark">The dark sidegit of the spoon.</h1>
        <p class="lead text-muted">Welcome to the most rigorously peer-reviewed cereal index on the web. Cerealsly.</p>
      </div>
      <hr class="my-4">
      <div class="col center-block" align="center">
        <p class="text-muted">Go to our index or sign in to continue.</p>
        <div>
          <div class="btn-group"> 

          <%= link_to 'Index', posts_path, :class => 'btn btn-outline-success rounded-pill btn-lg mr-3' %>

          <%= link_to 'Sign in', new_user_session_path, :class => 'btn btn-outline-success rounded-pill btn-lg ml-3' %>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>