@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
	background-color:#f8f9fa !important;
	// height: 100%;
	margin-bottom: 60px !important;
}

.navbar {
	background-color: #f2f2f2;
}

.navbar-brand {
	color: #999999;
	font-family: 'Rubik Mono One', sans-serif;
}

.nav-link {
	color: #a6a6a6;
}

footer {
	position: absolute !important;
	bottom: 0 !important;
	height: 60px !important;
}

#footer-text {
	font-size: 10px;
}

// .row {
// 	display: flex;
// 	flex-wrap: wrap;
// }

// .row > div[class*='col'] {
//  display: flex;
// }

// .card {
// 	min-height: 450px;
// }

.btn {
	width: 200px
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #ccc !important;
}

.navbar-light .navbar-brand:hover {
	color: #5cb85c !important;
}

h1 {
	font-family: 'Bowlby One SC', cursive;
}

h2 {
	font-family: 'Rubik Mono One', sans-serif;
}

h5 {
	font-family: 'Rubik Mono One', sans-serif;
}

#greeting {
	font-family: 'Bowlby One SC', cursive !important;
}