@import "bootstrap";

body {
	background-color:#f8f9fa !important;
}

.navbar {
	background-color: #f2f2f2;
}

.navbar-brand {
	color: #999999;
	font-family: 'Rubik Mono One', sans-serif;
}

.nav-link {
	color: #a6a6a6;
}

#footer-text {
	font-size: 10px;
}

.btn {
	width: 200px
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #ccc !important;
}

.navbar-light .navbar-brand:hover {
	color: #5cb85c !important;
}

h1 {
	font-family: 'Bowlby One SC', cursive;
}
