@import "bootstrap";
@import "pagination";

header {
	background-color: #f8f9fa; 
}

html {
  position: relative;
  min-height: 100%;
}

body {
	background-color:#f8f9fa !important;
	// height: 100%;
	margin-bottom: 60px !important;
	background-image: url("https://i.imgur.com/9sWAoRg.png");
	background-position: right bottom; 
	background-repeat: no-repeat;
}

.navbar {
	background-color: #f2f2f2;
}

.navbar-brand {
	color: #999999;
	font-family: 'Rubik Mono One', sans-serif;
}

.nav-link {
	color: #a6a6a6;
}

footer {
	position: absolute !important;
	bottom: 0 !important;
	height: 60px !important;
}

#footer-text {
	font-size: 10px;
}

// .row {
// 	display: flex;
// 	flex-wrap: wrap;
// }

// .row > div[class*='col'] {
//  display: flex;
// }

// .card {
// 	min-height: 450px;
// }

.card:hover {
	color: white !important;
	transition: all 0.2s ease-out;
	box-shadow: 0px 12px 24px rgba(38, 38, 38, 0.5);
	top: -4px;

	background-color: #28a745 !important;
}
//   box-shadow: 8px 12px 31px -10px #5cb85c;
// }

.btn {
	width: 200px
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #28a745 !important;
}

.navbar-light .navbar-brand:hover {
	color: #5cb85c !important;
}

h1 {
	font-family: 'Bowlby One SC', cursive;
}

h2 {
	font-family: 'Rubik Mono One', sans-serif;
}

h3 {
	font-family: 'Bowlby One SC', cursive;
}

h5 {
	font-family: 'Rubik Mono One', sans-serif;
}

#greeting {
	font-family: 'Bowlby One SC', cursive !important;
}