<footer id="sticky-footer" class="py-3 bg-light text-success fixed-bottom">
	    <div class="container text-center">
	      <small id="footer-text">Copyright &copy; Cerealsly </small>
	    </div>
</footer>