<footer id="sticky-footer" class="py-4 bg-light text-dark fixed-bottom">
	    <div class="container text-center text-success">
	      <small id="footer-text">Copyright &copy; Cerealsly </small>
	    </div>
  </footer>