<footer id="sticky-footer" class="py-4 bg-light text-dark fixed-bottom">
	    <div class="container text-center">
	      <small id="footer-text">Copyright &copy; cerealsly </small>
	    </div>
  </footer>